<form  method="post" id="albumsPostadd" class="form-container2">
    <h1 class=".text-center albumName"> </h1>
   
<div  class="overflow-x-auto h-40 postInAlbums">
  <input type="button" name="addPost" class=" btn selectPostInAlbums" onclick="selectPostInAlbums()" value="other Post">
  <div class="grid grid-cols-3 gap-1">
    <img class="w-full" src="/profile/img1.jpeg">
  <img class="w-full" src="/profile/img1.jpeg">
  </div>
</div> 
<div  class="overflow-x-auto hidden h-40  addingpostInAlbums">
  <input type="button" name="addPostInAlbums" class=" btn finalAddInAlbums" onclick="addPostInAlbum()" value="add">
  <div class="grid grid-cols-3 gap-1">
  <img class="w-full" onclick="selectImageInAlbums(this)" src="/profile/img1.jpeg">
  <img class="w-full"onclick="selectImageInAlbums(this)" src="/profile/img1.jpeg">
  <img class="w-full" onclick="selectImageInAlbums(this)" src="/profile/img1.jpeg">
  <img class="w-full" onclick="selectImageInAlbums(this)" src="/profile/img1.jpeg">
  <img class="w-full" onclick="selectImageInAlbums(this)" src="/profile/img1.jpeg">
  <img class="w-full" onclick="selectImageInAlbums(this)" src="/profile/img1.jpeg">
  <img class="w-full" onclick="selectImageInAlbums(this)" src="/profile/img1.jpeg">
  <img class="w-full" onclick="selectImageInAlbums(this)" src="/profile/img1.jpeg">
  <img class="w-full" onclick="selectImageInAlbums(this)" src="/profile/img1.jpeg">
  <img class="w-full" onclick="selectImageInAlbums(this)" src="/profile/img1.jpeg">
  <img class="w-full" onclick="selectImageInAlbums(this)" src="/profile/img1.jpeg">
  <img class="w-full" onclick="selectImageInAlbums(this)" src="/profile/img1.jpeg">
  <img class="w-full" onclick="selectImageInAlbums(this)" src="/profile/img1.jpeg">
  <img class="w-full" onclick="selectImageInAlbums(this)" src="/profile/img1.jpeg">
  <img class="w-full" onclick="selectImageInAlbums(this)" src="/profile/img1.jpeg">
</div>
</div>             
    <!-- <button type="button" id="btnCreate" class="btn">create</button> -->
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>